In [1]:
import json
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('history.csv', sep=';')
columns = df.columns
columns = columns.str.split(',')[0]
columns

['_id',
 'updatedAt',
 'createdAt',
 'ip',
 'destination',
 'departureDate',
 'returnDate',
 'status',
 'originCoordinates',
 '__v']

In [3]:
df = df.T.reset_index(drop=True).T
df = df[0].str.split(',', expand=True)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,"ObjectId(""5d660ba26aa69634ecbc2781"")","""""2019-08-28T05:05:38.563Z""""","""""2019-08-28T05:05:38.563Z""""",62.105.128.0,"ObjectId(""5d540324ef8c095bfe8f5fe0"")","""""2019-08-25T00:00:00.000Z""""","""""2019-09-05T00:00:00.000Z""""",ACTIVE,"""{""lat"":55.755786","""lon"":37.617633}""",0,None
1,"ObjectId(""5d660d46a3b52f38bc103c0b"")","""""2019-08-28T05:12:38.971Z""""","""""2019-08-28T05:12:38.971Z""""",62.105.128.0,"ObjectId(""5d540324ef8c095bfe8f5fe0"")","""""2019-08-25T00:00:00.000Z""""","""""2019-09-05T00:00:00.000Z""""",ACTIVE,"""{""lat"":55.755786","""lon"":37.617633}""",0,None
2,"ObjectId(""5d660dd683546a38f10bcf05"")","""""2019-08-28T05:15:02.601Z""""","""""2019-08-28T05:15:02.601Z""""",62.105.128.0,"ObjectId(""5d5401a9ef8c095bfe8f5e2e"")","""""2019-08-25T00:00:00.000Z""""","""""2019-09-05T00:00:00.000Z""""",ACTIVE,"""{""lat"":55.755786","""lon"":37.617633}""",0,None
3,"ObjectId(""5d660e53cad80b39f5c9c1f7"")","""""2019-08-28T05:17:07.754Z""""","""""2019-08-28T05:17:07.754Z""""",62.105.128.0,"ObjectId(""5d540264ef8c095bfe8f5f04"")","""""2019-08-25T00:00:00.000Z""""","""""2019-09-05T00:00:00.000Z""""",ACTIVE,"""{""lat"":55.755786","""lon"":37.617633}""",0,None
4,"ObjectId(""5d660e66cad80b39f5c9c1f8"")","""""2019-08-28T05:17:26.258Z""""","""""2019-08-28T05:17:26.258Z""""",62.105.128.0,"ObjectId(""5d540264ef8c095bfe8f5f04"")","""""2019-09-25T00:00:00.000Z""""","""""2019-10-05T00:00:00.000Z""""",ACTIVE,"""{""lat"":55.755786","""lon"":37.617633}""",0,None

In [4]:
df[10].value_counts()

0                    59454
"lon":37.617633}"      201
Name: 10, dtype: int64

In [5]:
df[11].value_counts()

0    201
Name: 11, dtype: int64

In [6]:
with open('incorrect_indices.txt', mode='w') as f:
    inc_indices = df.loc[df[10] != '0'].index.astype(str).tolist()
    inc_indices = ', '.join(inc_indices)
    f.writelines(inc_indices)

filter data from incorrect rows

In [7]:
df = df.loc[df[10] == '0']

add coordinates

In [8]:
df['coord'] = (df[8] + ', ' + df[9]).str[1:-1].apply(json.loads)
df['lat'] = df['coord'].str['lat']
df['lon'] = df['coord'].str['lon']
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,coord,lat,lon
0,"ObjectId(""5d660ba26aa69634ecbc2781"")","""""2019-08-28T05:05:38.563Z""""","""""2019-08-28T05:05:38.563Z""""",62.105.128.0,"ObjectId(""5d540324ef8c095bfe8f5fe0"")","""""2019-08-25T00:00:00.000Z""""","""""2019-09-05T00:00:00.000Z""""",ACTIVE,"""{""lat"":55.755786","""lon"":37.617633}""",0,None,"{'lat': 55.755786, 'lon': 37.617633}",55.755786,37.617633
1,"ObjectId(""5d660d46a3b52f38bc103c0b"")","""""2019-08-28T05:12:38.971Z""""","""""2019-08-28T05:12:38.971Z""""",62.105.128.0,"ObjectId(""5d540324ef8c095bfe8f5fe0"")","""""2019-08-25T00:00:00.000Z""""","""""2019-09-05T00:00:00.000Z""""",ACTIVE,"""{""lat"":55.755786","""lon"":37.617633}""",0,None,"{'lat': 55.755786, 'lon': 37.617633}",55.755786,37.617633
2,"ObjectId(""5d660dd683546a38f10bcf05"")","""""2019-08-28T05:15:02.601Z""""","""""2019-08-28T05:15:02.601Z""""",62.105.128.0,"ObjectId(""5d5401a9ef8c095bfe8f5e2e"")","""""2019-08-25T00:00:00.000Z""""","""""2019-09-05T00:00:00.000Z""""",ACTIVE,"""{""lat"":55.755786","""lon"":37.617633}""",0,None,"{'lat': 55.755786, 'lon': 37.617633}",55.755786,37.617633
3,"ObjectId(""5d660e53cad80b39f5c9c1f7"")","""""2019-08-28T05:17:07.754Z""""","""""2019-08-28T05:17:07.754Z""""",62.105.128.0,"ObjectId(""5d540264ef8c095bfe8f5f04"")","""""2019-08-25T00:00:00.000Z""""","""""2019-09-05T00:00:00.000Z""""",ACTIVE,"""{""lat"":55.755786","""lon"":37.617633}""",0,None,"{'lat': 55.755786, 'lon': 37.617633}",55.755786,37.617633
4,"ObjectId(""5d660e66cad80b39f5c9c1f8"")","""""2019-08-28T05:17:26.258Z""""","""""2019-08-28T05:17:26.258Z""""",62.105.128.0,"ObjectId(""5d540264ef8c095bfe8f5f04"")","""""2019-09-25T00:00:00.000Z""""","""""2019-10-05T00:00:00.000Z""""",ACTIVE,"""{""lat"":55.755786","""lon"":37.617633}""",0,None,"{'lat': 55.755786, 'lon': 37.617633}",55.755786,37.617633

rename columns

In [9]:
columns_map = dict(zip(np.arange(8), columns[:-2]))
df = df.rename(columns=columns_map)
df.head()

,_id,updatedAt,createdAt,ip,destination,departureDate,returnDate,status,8,9,10,11,coord,lat,lon
0,"ObjectId(""5d660ba26aa69634ecbc2781"")","""""2019-08-28T05:05:38.563Z""""","""""2019-08-28T05:05:38.563Z""""",62.105.128.0,"ObjectId(""5d540324ef8c095bfe8f5fe0"")","""""2019-08-25T00:00:00.000Z""""","""""2019-09-05T00:00:00.000Z""""",ACTIVE,"""{""lat"":55.755786","""lon"":37.617633}""",0,None,"{'lat': 55.755786, 'lon': 37.617633}",55.755786,37.617633
1,"ObjectId(""5d660d46a3b52f38bc103c0b"")","""""2019-08-28T05:12:38.971Z""""","""""2019-08-28T05:12:38.971Z""""",62.105.128.0,"ObjectId(""5d540324ef8c095bfe8f5fe0"")","""""2019-08-25T00:00:00.000Z""""","""""2019-09-05T00:00:00.000Z""""",ACTIVE,"""{""lat"":55.755786","""lon"":37.617633}""",0,None,"{'lat': 55.755786, 'lon': 37.617633}",55.755786,37.617633
2,"ObjectId(""5d660dd683546a38f10bcf05"")","""""2019-08-28T05:15:02.601Z""""","""""2019-08-28T05:15:02.601Z""""",62.105.128.0,"ObjectId(""5d5401a9ef8c095bfe8f5e2e"")","""""2019-08-25T00:00:00.000Z""""","""""2019-09-05T00:00:00.000Z""""",ACTIVE,"""{""lat"":55.755786","""lon"":37.617633}""",0,None,"{'lat': 55.755786, 'lon': 37.617633}",55.755786,37.617633
3,"ObjectId(""5d660e53cad80b39f5c9c1f7"")","""""2019-08-28T05:17:07.754Z""""","""""2019-08-28T05:17:07.754Z""""",62.105.128.0,"ObjectId(""5d540264ef8c095bfe8f5f04"")","""""2019-08-25T00:00:00.000Z""""","""""2019-09-05T00:00:00.000Z""""",ACTIVE,"""{""lat"":55.755786","""lon"":37.617633}""",0,None,"{'lat': 55.755786, 'lon': 37.617633}",55.755786,37.617633
4,"ObjectId(""5d660e66cad80b39f5c9c1f8"")","""""2019-08-28T05:17:26.258Z""""","""""2019-08-28T05:17:26.258Z""""",62.105.128.0,"ObjectId(""5d540264ef8c095bfe8f5f04"")","""""2019-09-25T00:00:00.000Z""""","""""2019-10-05T00:00:00.000Z""""",ACTIVE,"""{""lat"":55.755786","""lon"":37.617633}""",0,None,"{'lat': 55.755786, 'lon': 37.617633}",55.755786,37.617633

In [10]:
df = df.drop([8, 9, 10, 11], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59454 entries, 0 to 59655
Data columns (total 11 columns):
_id              59454 non-null object
updatedAt        59454 non-null object
createdAt        59454 non-null object
ip               59454 non-null object
destination      59454 non-null object
departureDate    59454 non-null object
returnDate       59454 non-null object
status           59454 non-null object
coord            59454 non-null object
lat              59454 non-null float64
lon              59454 non-null float64
dtypes: float64(2), object(9)
memory usage: 5.4+ MB

In [11]:
date_columns = ['departureDate', 'returnDate', 'createdAt', 'updatedAt']
for column in date_columns:
    df[column] = pd.to_datetime(df[column].str[2:-2])

In [12]:
df = df[df['createdAt'] > '2019-10-08']

In [13]:
df['destination'].value_counts().head(10)

ObjectId("5d540184ef8c095bfe8f5e02")    2076
ObjectId("5d5401abef8c095bfe8f5e30")    1901
ObjectId("5d54057cef8c095bfe8f6242")    1746
ObjectId("5d5401c3ef8c095bfe8f5e4f")    1704
ObjectId("5d5403daef8c095bfe8f609c")    1565
ObjectId("5d54060cef8c095bfe8f62c4")    1484
ObjectId("5d540180ef8c095bfe8f5dfb")    1209
ObjectId("5d5401b6ef8c095bfe8f5e3f")    1121
ObjectId("5d54018aef8c095bfe8f5e0b")    1110
ObjectId("5d5402bbef8c095bfe8f5f68")    1077
Name: destination, dtype: int64

In [14]:
ip = df['ip'].iloc[0]

In [15]:
import requests

In [16]:
def calculate_by_ip(ip) -> dict:
    url = f'http://www.travelpayouts.com/whereami?locale=ru&callback=useriata&ip={ip}'
    resp = requests.get(url).content
    ans = json.loads(resp.decode('utf')[9:-2])
    return ans

In [ ]:
%%time
ip_adresses = df['ip'].apply(calculate_by_ip)

{'iata': 'TSE',
 'name': 'Астана',
 'country_name': 'Казахстан',
 'coordinates': '71.4612:51.02781'}